body {
    background-image: url("../assets/images/food.png");
}

.clearfix {
    margin: 0 auto;
    overflow: auto;
}

.btn {
    margin: 15px;
}

.gif-divs {
    padding: 10px;
    float: left;
}

.food-img {
    float: left;
}