body {
    background-image: url("../assets/images/food.png");
}

.clearfix {
    margin: 0 auto;
    overflow: auto;
}

.btn {
    margin: 10px;
    border: 3px solid cornflowerblue;
}

.gif-divs {
    padding: 10px;
    float: left;
}

.food-img {
    float: left;
}

#gif-form {
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
}